.classic {
  color: rgb(195, 119, 72);
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-family: "Palette Mosaic", cursive;
}
.sassy {
  font-family: cursive;
  color: white;
  background-color: rgb(215, 116, 116);
  margin-right: 10%;
  margin-left: 10%;
}

.cool{
    font-family: 'Rock 3D', cursive;
    font-size: 50px;
}

.elf {
  font-family: Fantasy;
  color: darkorange;
}
span {
  color: darkcyan;
  font-family: monospace;
  font-size: 30px;
  color: darkred;
}

h1 {
  margin-left: 30%;
  margin-right: 30%;
  border: 2px solid black;
  letter-spacing: 15px;
  text-align: center;
}

h2 {
  letter-spacing: 5px;
}
